header{
    background: #3625b9;
    color: #fff;
}
.main{
    background: rgb(238, 224, 200);
}
.color1{
    background: #627a91;
    color: #fff;
}
aside{
    background: #e34d3d;
    color: #fff;
}
footer{
    background: #16a085;
    color: #fff
}