body{
    background-image: url("../assets/Fondo_03.jpg");
    max-width: inherit;
    /*background-repeat:no-repeat;
    background-position: center center;*/
}


h1
{   
    text-align: center;
    font-size: 3cm;
    border-bottom: dotted 1px solid;
    background-color: coral;
}

h2
{

    text-align: center;
    font-size: 1cm;
    color: darkorange;
}
h3
{

    text-align: center;
    font-size: 1cm;
    color: red;
}
h5
{

    text-align: center;
    font-size: 0.8cm;
    color: red;
}
h6
{

    text-align: center;
    font-size: 0.8cm;
    color: red;
}
p{  
    font-size: x-large;
    color: darkorange;
}
img{
    border-radius: 100px ;
    padding: 1cm;
    width: 1260px;
    height: 1000;
}

p.rojo{
    color: red;
}

p.rosado{
    color: pink;
}

p.amarillo{
    color: yellow;
}

p.azul{
    color: darkblue;
}
